<div ng-if="showAlfred">
    <!--Here we should pass Backbone.groups instead of arrays of json-->
    <alfred uid="uid"
            hosts="hosts"
            activities="activities"
            groups="groups"
            taghosts="taghosts"
            tags="tags"
            amount="6"
            height-cell="55"
            placeholder="placeholder"
            on-enter-callback="enterConnection(connection)"
            on-add-callback="addConnection()"
            on-edit-callback="editConnection(connection)"
            on-upload-callback="uploadConnection(connection)"
            on-remove-callback="removeConnection(connection)">
    </alfred>
</div>
