<div ng-if="showAlfred">
    <!--Here we should pass Backbone.groups instead of arrays of json-->
    <alfred uid="uid"
            hosts="hosts"
            activities="activities"
            groups="groups"
            taghosts="taghosts"
            tags="tags"
            amount="6"
            height-cell="60"
            placeholder="placeholder"

            on-add-group-callback="addGroup(parent_group)"
            on-edit-group-callback="editGroup(group)"

            on-enter-host-callback="enterConnection(connection)"
            on-add-host-callback="addConnection(parent_group)"
            on-edit-host-callback="editConnection(connection)">
    </alfred>
</div>
