<div ng-if="showAlfred">
    <!--Here we should pass Backbone.groups instead of arrays of json-->
    <alfred uid="uid"
            hosts="hosts"
            activities="activities"
            groups="groups"
            taghosts="taghosts"
            tags="tags"
            amount="6"
            height-cell="64"
            placeholder="placeholder"

            on-add-group-callback="addGroup(parent_group)"
            on-edit-group-callback="editGroup(group)"
            on-remove-group-callback="removeGroup(group)"

            on-enter-host-callback="enterConnection(host)"
            on-add-host-callback="addConnection(parent_group)"
            on-edit-host-callback="editConnection(host)"
            on-remove-host-callback="removeConnection(host)">
    </alfred>
</div>
