/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.alfred {
    width: 70%;
    margin: 0 auto;
    padding: 50px 0px;
}

.table-data {
    vertical-align: top;
}

#alfred-input {
    display: block;
    width: 100%;
    height: 46px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

li.active {
    background-color: #9FB6CD;
}
li {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.list-group {
    padding-left: 0;
    margin-bottom: 0;
}
i {
    float: right;
}
#right {
    width: 50%;
    float: right;
}
#left {
    width: 50%;
    float: left;
}
.header {
    font-weight: bold;
    height: 42px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px;
}