<div id="fixed">
    <ul class="list hosts">
        <li
                ng-repeat="(key,connection) in filteredConnections = (connections | filterConnections:query:this) track by key"
                id="{{ key }}"
                ng-click="select(key)"
                ng-dblclick="connect(connection, key)"
                key="{{ key }}"
                ng-class="{ active: (key === selectedIndex) }"
                ng-style="setHeight()"
                context-menu="select(key)" context-menu-disabled="is_disable_context_menu"
                class="panel panel-default position-fixed list-row"
                data-target="menu-{{ uid }}-{{ $index }}"
                ng-class="{ 'highlight': highlight, 'expanded' : expanded }">

            <div class="list-row__primary">
                <i class="icon icon--l host_default_icon"></i>
            </div>
            <div class="list-row__content">
                <span ng-if="connection.label" class="display-block">{{ connection.label }}</span>
                <span ng-if="!connection.label" class="display-block">{{ connection.address }}</span>
                <span class="display-block fs-body-1 description">{{ connection.username }}</span>

                <!--Includes context menu for each cell-->
                <div class="dropdown position-fixed" id="menu-{{ uid }}-{{ $index }}">
                    <ul class="list context-menu host-menu" role="menu">
                        <li class="list-row" ng-click="connect(connection, key)">
                            <div class="list-row__primary">
                                <i class="connect-icon"></i>
                            </div>
                            <div class="list-row__content">
                                Connect
                            </div>
                        </li>
                        <li class="list-row" ng-if="!isHistory(connection)" ng-click="edit(connection)">
                            <div class="list-row__primary">
                                <i class="mdi mdi-pencil"></i>
                            </div>
                            <div class="list-row__content">
                                <span>Edit</span>
                            </div>
                        </li>
                        <li class="list-row" ng-if="!isHistory(connection)" ng-click="remove(connection)">
                            <div class="list-row__primary">
                                <i class="mdi mdi-delete"></i>
                            </div>
                            <div class="list-row__content">
                                <span>Remove</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--End Includes context menu for each cell-->
            </div>

        </li>
    </ul>
</div>
