<div id="fixed" when-scrolled="loadMore()" ng-mouseover="toggleScroll()">
    <md-list>
        <md-item
                ng-repeat="(key,connection) in subConnections = (connections | filterConnections:query:from:offset:this) track by key"
                id="{{key}}"
                ng-click="select($event, connection, key)"
                connection-item="connection"
                key="{{key}}"
                ng-class="{ active: (key === selectedIndex) }"
                ng-style="setHeight()"
                context-menu
                class="panel panel-default position-fixed"
                data-target="menu-{{ $index }}"
                ng-class="{ 'highlight': highlight, 'expanded' : expanded }">

            <md-item-content>
                <div class="md-tile-left host-icon">
                    <i class="disable"></i>
                </div>
                <div class="md-tile-content">
                    <h4 ng-if="connection.label">{{connection.label}}</h4>
                    <h4 ng-if="!connection.label">{{connection.username}}@{{connection.address}}</h4>
                </div>
                <div class="md-tile-right">
                    <i class="active actions" ng-if="(key === selectedIndex)">
                        <i>{{enterText}}</i>
                    </i>
                </div>
                <!--Includes context menu for each cell-->
                    <div class="dropdown position-fixed" id="menu-{{ $index }}">
                    <md-list class="dropdown-menu host-menu" role="menu">
                        <md-item>
                            <md-item-content ng-if="!isHistory(connection)" ng-click="edit($event, connection)">
                                <div class="md-tile-left">
                                    <i class="mdi mdi-pencil"></i>
                                </div>
                                <div class="md-tile-content">
                                    Edit
                                </div>
                            </md-item-content>
                            <md-item-content ng-if="isHistory(connection)" ng-click="upload($event, connection)">
                                <div class="md-tile-left">
                                    <i class="mdi mdi-pencil"></i>
                                </div>
                                <div class="md-tile-content">
                                    Edit
                                </div>
                            </md-item-content>
                            <md-item-content ng-click="remove($event, connection)">
                                <div class="md-tile-left">
                                    <i class="mdi mdi-delete"></i>
                                </div>
                                <div class="md-tile-content">
                                    Remove
                                </div>
                            </md-item-content>
                            <md-item-content ng-click="select($event, connection, key)">
                                <div class="md-tile-left">
                                    <i class="connect-icon"></i>
                                </div>
                                <div class="md-tile-content">
                                    Connect
                                </div>
                            </md-item-content>
                        </md-item>
                    </md-list>
                </div>
                <!--End Includes context menu for each cell-->
            </md-item-content>

            <md-divider inset></md-divider>
        </md-item>

        <md-button ng-hide="!subConnections.length"
                   class="add-buttom md-fab md-primary"
                   aria-label="Use Android"
                   ng-click="addConnection($event)">+
        </md-button>
    </md-list>
</div>
<div class="scroller" ng-if="filteredConnections.length > amount">
    <div class="sizer" ng-style="setSizerHeight()"></div>
    <div class="slider" ng-style="setSliderHeight()"></div>
</div>
</div>
