<div class="dropdown position-fixed" id="menu-{{ $index }}">
    <md-list class="dropdown-menu host-menu" role="menu">
        <md-item>
            <md-item-content ng-if="!isHistory(connection)" ng-click="edit($event, connection)">
                <div class="md-tile-left">
                    <i class="mdi mdi-pencil"></i>
                </div>
                <div class="md-tile-content">
                    Edit
                </div>
            </md-item-content>
            <md-item-content ng-if="isHistory(connection)" ng-click="upload($event, connection)">
                <div class="md-tile-left">
                    <i class="mdi mdi-pencil"></i>
                </div>
                <div class="md-tile-content">
                    Edit
                </div>
            </md-item-content>
            <md-item-content ng-click="remove($event, connection)">
                <div class="md-tile-left">
                    <i class="mdi mdi-delete"></i>
                </div>
                <div class="md-tile-content">
                    Remove
                </div>
            </md-item-content>
            <md-item-content ng-click="select($event, connection, key)">
                <div class="md-tile-left">
                    <i>
                        <img src="/src/img/icons/connect.png"/></i>
                </div>
                <div class="md-tile-content">
                    Connect
                </div>
            </md-item-content>
        </md-item>
    </md-list>
</div>
