<div id="fixed" when-scrolled="loadMore()">
    <ul class="list-group">
        <li ng-repeat="(key,connection) in subConnections = (connections | filterConnections:query:from:offset)"
            id="{{key}}"
            ng-click="select(connection, key)"
            connection-item="connection"
            key="{{key}}"
            ng-class="{ active: (key === selectedIndex) }"
            ng-style="setHeight()">
            <span ng-if="connection.label">
                {{connection.label}}
                <i ng-if="(key === selectedIndex)">{{enterText}}</i>
                <i ng-if="!(key === selectedIndex)">{{cmdSystemHotkey}}{{key+1}}</i>
            </span>
            <span ng-if="!connection.label">
                {{connection.ssh_username}}@{{connection.hostname}}
                <i ng-if="(key === selectedIndex)">{{enterText}}</i>
                <i ng-if="!(key === selectedIndex)">{{cmdSystemHotkey}}{{key+1}}</i>
            </span>
        </li>
        <li ng-if="!subConnections.length">Nothing</li>
    </ul>
</div>
<div class="scroller" ng-if="filteredConnections.length > amount">
	<div class="sizer" ng-style="setSizerHeight()"></div>
	<div class="slider" ng-style="setSliderHeight()"></div>
</div>