<div class="alfred">
    <input type="text"
           id="alfred-input"
           class="form-control input-lg input"
           ng-model="query"
           ng-keydown="keydown($event)"
           shortcut="{'ctrl': leftRightEvent}"
           placeholder="{{placeholder}}">

    <div ng-if="isTable">
        <div id="left" ng-class="{ active: isLeftActive }">
            <div class="header">
                <span>Hosts</span>
            </div>

            <div class="left-list" ng-if="isLeftActive">
                <active-list connections    = "connections"
                             amount         = "amount"
                             height-cell    = "heightCell"
                             query          = "query"
                             from           = "fromConnection"
                             selected-index = "selectedIndex">
                </active-list>
            </div>
            <div class="left-list" ng-if="isRightActive">
                <inactive-list connections  = "connections"
                               amount       = "amount"
                               height-cell  = "heightCell"
                               from         = "fromConnection">
                </inactive-list>
            </div>
        </div>

        <div id="right" ng-class="{ active: isRightActive }">
            <div class="header">
                <span>History</span>
            </div>
            <div class="left-list" ng-if="isLeftActive">
                <inactive-list connections  = "histories"
                               amount       = "amount"
                               height-cell  = "heightCell"
                               from         = "fromHistory">
                </inactive-list>
            </div>
            <div class="left-list" ng-if="isRightActive">
                <active-list connections    = "histories"
                             amount         = "amount"
                             height-cell    = "heightCell"
                             query          = "query"
                             from           = "fromHistory"
                             selected-index = "selectedIndex">
                </active-list>
            </div>
        </div>
    </div>

    <div ng-if="!isTable">
        <active-list connections    = "entities"
                     amount         = "amount"
                     height-cell    = "heightCell"
                     query          = "query"
                     from           = "fromConnection"
                     selected-index = "selectedIndex">
        </active-list>
    </div>

</div>