<div id="inactive-list">
    <ul class="list-group">
        <li ng-repeat="(key,connection) in connections | filterConnections:null:from:offset"
            ng-style="setHeight()">
            <span ng-if="connection.label">
                {{connection.label}}
            </span>
            <span ng-if="!connection.label">
                {{connection.ssh_username}}@{{connection.hostname}}
            </span>
        </li>
        <li ng-repeat="i in rest track by $index"
            ng-style="setHeight()"
            class="empty-cell">
        </li>
    </ul>
</div>
<div class="scroller" ng-if="connections.length > amount">
	<div class="sizer" ng-style="setSizerHeight()"></div>
	<div class="slider" ng-style="setSliderHeight()"></div>
</div>