.alfred-widget .left-list,
.alfred-widget .right-list,
.alfred-widget .main-list {
  position: relative;
}
.alfred-widget .table {
  width: 100%;
  margin: 0;
  display: inline-flex;
}
.alfred-widget .menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}
.alfred-widget .menu > li {
  display: inline;
}
.alfred-widget .menu > li:before {
  content: "|";
  padding-right: 0.3em;
}
.alfred-widget .menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.alfred-widget .menu:before {
  content: "[";
}
.alfred-widget .menu:after {
  content: "]";
}
.alfred-widget .alfred {
  width: 80%;
  margin: 0 auto;
  min-width: 230px;
}
.alfred-widget .table-data {
  vertical-align: top;
}
.alfred-widget i {
  color: #616161;
  float: right;
  height: 20px;
}
.alfred-widget li.active {
  background-color: #428bca;
  color: white;
}
.alfred-widget li.active i {
  color: white;
}
.alfred-widget #right {
  width: 100%;
}
.alfred-widget #left {
  width: 100%;
}
.alfred-widget .header {
  font-weight: bold;
  height: 42px;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 10px;
  background-color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
}
.alfred-widget .scroller {
  position: absolute;
  right: 0;
  height: 100%;
  width: 4px;
  background-color: #ffffff;
  border: 1px solid #2196f3;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.175);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
}
.alfred-widget .scroller .slider {
  background-color: #2196f3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
}
.alfred-widget .glyphicon.glyphicon-plus {
  margin-left: 10px;
}
.alfred-widget .enter-block {
  width: 45px;
  height: 16px;
  float: left;
}
.alfred-widget .enter-block i {
  margin-left: 5px;
}
.alfred-widget .tollbar-container {
  width: 100%;
  padding: 10px;
}
.alfred-widget .content-box {
  overflow: hidden;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.alfred-widget .content-box .md-tile-right {
  padding-right: 14px;
}
.alfred-widget .content-box .host-icon {
  margin-left: 10px;
  margin-right: -35px;
}
.alfred-widget .md-tile-content span {
  width: 100%;
}
.alfred-widget md-toolbar.alfred-toolbar {
  font-size: 16px;
  background-color: white !important;
  color: #616161 !important;
}
.alfred-widget .add-buttom {
  position: absolute;
  bottom: 10px;
  right: 100px;
}
.alfred-widget .alfred-toolbar .alfred-input {
  width: 96%;
  float: left;
}
.alfred-widget .alfred-toolbar .head-toolbar {
  display: block;
  width: 100%;
}
.alfred-widget .alfred-toolbar .head-groups,
.alfred-widget .alfred-toolbar .bottom-group {
  display: -webkit-inline-box;
  width: 100%;
}
.alfred-widget .alfred-toolbar .head-groups .tags {
  width: 35%;
}
.alfred-widget .alfred-toolbar .children-group,
.alfred-widget .alfred-toolbar .parent-group {
  display: -webkit-box;
  width: 65%;
}
.alfred-widget .alfred-toolbar .children-group li {
  margin-right: 22px;
}
.alfred-widget .alfred-toolbar .children-group .md-button {
  background-color: #38a3f8;
  text-transform: none;
  padding: 4px 20px;
  font-weight: normal;
  margin-top: 10px;
}
.alfred-widget .alfred-toolbar .children-group ul {
  padding: 0;
  margin: 10px 0;
}
.alfred-widget .alfred-toolbar .parent-group li {
  margin-right: 22px;
  margin-right: 6px;
}
.alfred-widget .alfred-toolbar .parent-group ul {
  padding: 0;
  margin: 10px 0;
  margin: 20px 0 0 0;
}
.alfred-widget .alfred-toolbar i.mdi.mdi-chevron-right {
  float: none;
}
.alfred-widget .alfred-toolbar i.mdi.mdi-folder {
  font-size: 20px;
}
.alfred-widget .alfred-toolbar .tag-toolbar {
  margin: 0px 0;
  float: right;
  vertical-align: middle;
  padding: 13px 0 0 0;
  width: 35px;
  font-size: 20px;
}
.alfred-widget .alfred-toolbar li:last-child {
  font-weight: 600;
}
.alfred-widget .alfred-toolbar .menu-toolbar {
  width: 4%;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.alfred-widget .alfred-toolbar .history-menu {
  width: 100%;
  padding: 0;
  height: 46px;
  float: right;
}
.alfred-widget .alfred-toolbar .history-menu i {
  color: #2196f3;
  width: 22px;
}
.alfred-widget .alfred-toolbar ::-webkit-input-placeholder {
  color: white;
}
.alfred-widget .alfred-toolbar li {
  float: left;
  list-style-type: none;
}
.alfred-widget .alfred-toolbar li .btn {
  color: #616161;
}
.alfred-widget .alfred-toolbar .list-group {
  padding-left: 0;
  margin-bottom: 0;
}
.alfred-widget .alfred-toolbar button.history-menu.md-button.md-default-theme:hover {
  background-color: transparent;
}
.alfred-widget .alfred-toolbar .tags ul {
  padding: 0;
  margin: 4px 0;
  float: right;
}
.alfred-widget .alfred-toolbar .tags li {
  float: right;
}
.alfred-widget .alfred-toolbar .tags button {
  text-transform: none;
  font-weight: normal;
  background-color: #38a3f8;
  margin: 10px 0px 0 8px;
}
.alfred-widget .alfred-toolbar .tags button i {
  float: none;
  color: white;
}
.alfred-widget .dropdown.position-fixed {
  position: fixed;
  z-index: 100;
}
.alfred-widget .host-menu .md-tile-left {
  margin-right: 0;
  min-width: 32px;
}
.alfred-widget .host-menu .md-tile-content {
  padding: 10px 16px;
}
.alfred-widget .open .dropdown-menu {
  display: block;
  opacity: 1;
}
.alfred-widget li.parent-group-list a {
  color: #616161 !important;
}
.tag-list .list-content-tile {
  padding: 2px 0;
}
.tag-list .list-primary-tile {
  margin-top: -13px;
}
.dropdown-menu {
  display: block;
  border: none;
  left: auto;
  float: none;
  min-width: inherit;
  padding: inherit;
  margin: inherit;
}
