.alfred-widget {
    .table {
        width: 100%;
        margin: 0;
        display: inline-flex;
    }
    .alfred {
        width: 80%;
        min-width: 230px;
        background-color: #fff;
        position: relative;
        .alfred-box {
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
            height: 100%;
            position: relative;
        }
        li.active {
            color: white;
            background-color: #2196F3;
        }

        li.active .context-menu span, .context-menu span, li {
            color: #616161
        }

        .host-menu li.list-row, .group-menu li.list-row {
            border-left: 3px solid transparent;
            margin: 4px 0 0 0;
            padding: 0 20px;

            span.display-block.fs-body-1.description.ng-binding {
                color: rgba(0, 0, 0, 0.54);
                font-size: 12px;
            }

            .list-row__content {
                padding: 10px 0;
                cursor: default;
            }
        }
        .host-menu li.list-row:last-child, .group-menu li.list-row:last-child {
            margin: 4px 0;
        }
        .host-menu li.list-row:hover, .group-menu li.list-row:hover {
            background: whitesmoke;
            border-left: 3px solid #616161;
        }

        #list {
            width: 100%;
        }

        .tollbar-container {
            width: 100%;
        }

        .content-box {
            min-height: 65px;
            position: relative;
            .host_default_icon {
                background-image: url("../img/icons/hosts/Host-icon_disable_dark.png");
                width: 20px;
                height: 19px;
                display: block;
            }

        }

        .add-buttom {
            position: absolute !important;
            bottom: 12px;
            right: 24px;
        }

        .list .list-row__primary {
            width: 36px;
        }

        .data-box {
            position: absolute;
            width: 100%;
            top: 80px;
            bottom: 0;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            .groups-toolbar {
                height: auto !important;
                padding-top: 8px;
                padding-bottom: 8px;
                padding: 0 16px;
                display: flex;
                flex-direction: column;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                display: inline-table;
                width: 100%;

                .tag-content {
                    float: right;
                    .dropdown-menu {
                        display: none;
                    }

                    .dropdown-menu .dropdown__menu--is-dropped {
                        display: block;
                    }
                }

                .group-content {
                    float: left;
                }

                .head-groups, .bottom-group {
                    display: -webkit-inline-box;
                    width: 100%;
                }

                .children-group, .parent-group {
                    display: -webkit-box;
                }

                .children-group {
                    li {
                        margin-right: 15px;
                        margin-bottom: 15px;
                    }
                    ul {
                        padding: 0;
                        margin: 15px 0 0 0;
                    }
                    .dropdown li.list-row {
                        font-weight: normal;
                        margin: 0;
                        float: none;
                    }
                }

                .parent-group {
                    li {
                        margin-right: 22px;
                        margin-right: 6px;
                    }
                    ul {
                        padding: 0;
                        margin: 10px 0;
                        margin: 15px 0 0 0;
                    }
                }
                .tag-toolbar {
                    margin: 0px 0;
                    float: right;
                    vertical-align: middle;
                    padding: 13px 0 0 0;
                    width: 35px;
                    font-size: 20px;
                }

                .tag {
                    color: #616161;
                }

                .list-group {
                    padding-left: 0;
                    margin-bottom: 0;
                }

                .tags ul {
                    padding: 0;
                    margin: 4px 0;
                    float: right;
                }

                .tags li {
                    float: right;
                }

                li {
                    float: left;
                    list-style-type: none;
                    .btn {
                        color: #616161;
                        border-right: 20px;
                        border-radius: 1.6rem;
                        padding: 0 0.8rem 0 0.8rem;
                        height: 31px;
                        line-height: 31px;
                        border: 1px solid #2196F3;
                        color: #2196F3;
                        overflow: visible !important;
                    }
                }

                .tags button {
                    text-transform: none;
                    font-weight: normal;
                    background-color: #38a3f8;
                    margin: 10px 0px 0 8px;
                    color: white;
                    i {
                        float: none;
                        color: white;
                    }
                }

                i.mdi.mdi-chevron-right {
                    float: none;
                }

                i.mdi.mdi-folder {
                    font-size: 20px;
                }

                li:last-child {
                    font-weight: 600;
                }

            }
        }

        .alfred-toolbar {
            padding-top: 8px !important;
            padding-bottom: 8px !important;
            height: 80px;
            .input-row {
                width: 100%;
                position: relative;
                .input-fiedls {
                    margin-right: 100px;
                    min-width: 215px;
                    overflow: hidden;
                }
                .menu-toolbar {
                    position: absolute;
                    right: 0;
                    top: 7px;
                }
            }

            .history-menu {
                i {
                    color: #2196f3;
                    width: 22px;
                }
            }

        }
        .dropdown.position-fixed {
            position: fixed;
            z-index: 100;
        }

        .open .context-menu {
            display: block;
            opacity: 1;
        }

        .context-menu {
            display: none;
            border: none;
            left: auto;
            float: none;
            min-width: inherit;
            padding: inherit;
            margin: inherit;
            z-index: 1000;
            border-radius: 2px;
            background-color: #FFF;
            text-align: left;
            opacity: 1;
            overflow: hidden;
            box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
            position: relative;
        }

        li.parent-group-list a {
            color: #616161 !important;
        }

        .connect-icon {
            background-image: url("../img/icons/connect_new.png");
            width: 16px;
            height: 16px;
            display: block;
        }

        .context-menu .list-row__primary {
            width: 32px;
        }

        .add_new_host {
            background-image: url("../img/icons/hosts/host_white_add_icon.png");
            width: 16px;
            height: 16px;
            display: block;
            left: 10px;
            position: relative;
        }
        i.group-child {
            background-image: url("../img/icons/group/group_blue_icon.png");
            width: 16px;
            height: 16px;
            display: block;
            position: relative;
            float: left;
            top: 7px;
            margin-right: 10px;
        }

        .add_new_group {
            background-image: url("../img/icons/group/group_white_add_icon.png");
            width: 16px;
            height: 16px;
            display: block;
            left: 10px;
            position: relative;
        }
        .fab__actions--left {
            right: 40px;
            bottom: 0px;
        }

    }
}

.tag-list {
    .list-content-tile {
        padding: 2px 0;
    }
    .list-primary-tile {
        width: 16px;
    }
    a {
        color: #616161;
    }
}

.tags-list {
    overflow-x: hidden !important;
}

.btn, .text-field__input, span.display-block, .dropdown-link, .parent-group-list {
    cursor: default;
}

.flex-list {
    width: 80% !important;
    margin: 0 auto;
    max-width: 750px !important;
    min-width: 400px !important;
    -webkit-transition: all 500ms;
    transition: all 500ms;
    flex: none !important;
    height: 80%;
    margin-top: 101px;
    min-height: 150px;
}

.alfred-widget[max-width^="500px"] .flex-list {
    width: 100% !important;
}

.alfred-widget[max-height^="798px"] .flex-list {
    height: 100% !important;
    margin-top: 0;
}
