.alfred-widget {
    .left-list, .right-list, .main-list {
        position: relative;
    }
    .toolbar {
        height: inherit;
        border-bottom: 1px solid #ddd;
    }
    .table {
        width: 100%;
        margin: 0;
        display: inline-flex;
    }
    .menu {
        list-style: none;
        border-bottom: 0.1em solid black;
        margin-bottom: 2em;
        padding: 0 0 0.5em;
        > li {
            display: inline;
        }
        > li:before {
            content: "|";
            padding-right: 0.3em;
        }
        > li:nth-child(1):before {
            content: "";
            padding: 0;
        }
    }
    .menu:before {
        content: "[";
    }
    .menu:after {
        content: "]";
    }
    .alfred {
        width: 80%;
        margin: 0 auto;
        min-width: 230px;
        background-color: #fff;
    }
    .alfred-box {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    }
    .table-data {
        vertical-align: top;
    }
    li.active{
      color: #2196F3;
    }

    li.active .dropdown-menu i, li.active .dropdown-menu span, .dropdown-menu span, li {
        color: #616161;
        cursor: default;
    }

    #right {
        width: 100%;
    }
    #left {
        width: 100%;
    }
    .header {
        font-weight: bold;
        height: 42px;
        border-left: 1px solid #dddddd;
        border-right: 1px solid #dddddd;
        padding: 10px;
        background-color: #ffffff;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .scroller {
        position: absolute;
        right: 0;
        height: 100%;
        width: 4px;
        background-color: #ffffff;
        border: 1px solid #2196f3;
        border-radius: 3px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.175);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        top: 0;
        .slider {
            background-color: #2196f3;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border-radius: 3px;
        }
    }
    .glyphicon.glyphicon-plus {
        margin-left: 10px;
    }
    .enter-block {
        width: 45px;
        height: 16px;
        float: left;
        i {
            margin-left: 5px;
        }
    }

    .tollbar-container {
        width: 100%;
    }

    .content-box {
        overflow: hidden;
        .host_default_icon {
            background-image: url("../img/icons/hosts/Host-icon_disable_dark.png");
            width: 20px;
            height: 19px;
            display: block;
        }

    }

    .add-buttom {
        position: absolute !important;
        bottom: 7px;
        right: 24px;
    }

    .list .list-row__primary {
        width: 36px;
    }

    .alfred-toolbar {

        .menu-toolbar {
            text-align: right;
        }

        .head-groups, .bottom-group {
            display: -webkit-inline-box;
            width: 100%;
        }

        .children-group, .parent-group {
            display: -webkit-box;
        }

        .children-group {
            li {
                margin-right: 15px;
            }
            ul {
                padding: 0;
                margin: 15px 0 15px 0;
            }
            .dropdown li.list-row {
                font-weight: normal;
                margin: 0;
            }
        }

        .parent-group {
            li {
                margin-right: 22px;
                margin-right: 6px;
            }
            ul {
                padding: 0;
                margin: 10px 0;
                margin: 15px 0 0 0;
            }
        }

        i.mdi.mdi-chevron-right {
            float: none;
        }

        i.mdi.mdi-folder {
            font-size: 20px;
        }

        .tag-toolbar {
            margin: 0px 0;
            float: right;
            vertical-align: middle;
            padding: 13px 0 0 0;
            width: 35px;
            font-size: 20px;
        }

        li:last-child {
            font-weight: 600;
        }

        .history-menu {
            i {
                color: #2196f3;
                width: 22px;
            }
        }

        ::-webkit-input-placeholder {
            color: white;
        }

        li {
            float: left;
            list-style-type: none;
            .btn {
                color: #616161;
            }
        }

        .tag {
            color: #616161;
        }

        .list-group {
            padding-left: 0;
            margin-bottom: 0;
        }

        .tags ul {
            padding: 0;
            margin: 4px 0;
            float: right;
        }

        .tags li {
            float: right;
        }

        .tags button {
            text-transform: none;
            font-weight: normal;
            background-color: #38a3f8;
            margin: 10px 0px 0 8px;
            color: white;
            i {
                float: none;
                color: white;
            }
        }
    }
    .dropdown.position-fixed {
        position: fixed;
        z-index: 100;
    }

    .open .dropdown-menu {
        display: block;
        opacity: 1;
        z-index: 10000;
    }

    li.parent-group-list a {
        color: #616161 !important;
    }

    .connect-icon {
        background-image: url("../img/icons/connect_new.png");
        width: 16px;
        height: 16px;
        display: block;
    }

    li.active .dropdown-menu .connect-icon {
        background-image: url("../img/icons/connect_new_active.png");
    }

    .context-menu .list-row__primary {
        width: 32px;
    }

    .add_new_host {
        background-image: url("../img/icons/hosts/host_white_add_icon.png");
        width: 16px;
        height: 16px;
        display: block;
        left: 11px;
        position: relative;
    }

    .add_new_group {
        background-image: url("../img/icons/group/group_white_add_icon.png");
        width: 16px;
        height: 16px;
        display: block;
        left: 11px;
        position: relative;
    }
    .fab__actions--left {
        right: 40px;
        bottom: 0px;
    }

}

.tag-list {
    .list-content-tile {
        padding: 2px 0;
    }
    .list-primary-tile {
        margin-top: -13px;
    }
}

//TODO NONBootstrap

.dropdown-menu {
    display: block;
    border: none;
    left: auto;
    float: none;
    min-width: inherit;
    padding: inherit;
    margin: inherit;
}

.tag-list a {
    color: #616161;
}
