.alfred-widget .table {
    width: 100%;
    margin: 0;
    display: inline-flex;
}

.alfred-widget .menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.alfred-widget .menu:before {
    content: "[";
}

.alfred-widget .menu:after {
    content: "]";
}

.alfred-widget .menu > li {
    display: inline;
}

.alfred-widget .menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.alfred-widget .menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.alfred-widget .alfred {
    width: 70%;
    margin: 0 auto;
}

.alfred-widget .table-data {
    vertical-align: top;
}

.alfred-widget #alfred-input {
    display: block;
    width: 95%;
    height: 46px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: rgb(63, 81, 181);
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    float: left;
}

.alfred-widget i {
    color: #428bca;
}

.alfred-widget li.active i {
    color: white;
}

.alfred-widget li.active {
    background-color: #428bca;
    color: white;
}

.alfred-widget li {
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}

.alfred-widget .list-group {
    padding-left: 0;
    margin-bottom: 0;
}

.alfred-widget i {
    float: right;
}

.alfred-widget #right {
    width: 100%;
}

.alfred-widget #left {
    width: 100%;
}

.alfred-widget .header {
    font-weight: bold;
    height: 42px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
}

.alfred-widget .scroller {
    position: absolute;
    right: 0;
    height: 100%;
    width: 4px;
    background-color: #fff;
    border: 1px solid #42b6ca;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.175);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: 0;
}

.alfred-widget .left-list,
.alfred-widget .right-list,
.alfred-widget .main-list {
    position: relative;
}

.alfred-widget .scroller .slider {
    background-color: #428bca;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
}

.alfred-widget .glyphicon.glyphicon-plus {
    margin-left: 10px;
}

.alfred-widget .enter-block {
    width: 45px;
    height: 16px;
    float: left;
}

.alfred-widget .enter-block i {
    margin-left: 5px;
}

.alfred-widget .history-menu {
    float: right;
    height: 46px;
    padding: 12px 12px;
    color: white;
}
