.alfred-widget .table {
    width: 100%;
    margin: 0;
    display: inline-flex;
}

.alfred-widget .menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.alfred-widget .menu:before {
    content: "[";
}

.alfred-widget .menu:after {
    content: "]";
}

.alfred-widget .menu > li {
    display: inline;
}

.alfred-widget .menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.alfred-widget .menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.alfred-widget .alfred {
    width: 80%;
    margin: 0 auto;
    min-width: 230px;
}

.alfred-widget .table-data {
    vertical-align: top;
}

.alfred-widget #alfred-input {
    display: block;
    width: 96%;
    height: 46px;
    padding: 6px 12px;
    font-size: inherit;
    line-height: 1.42857143;
    color: white;
    background-color: rgb(56, 163, 248);
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);*/
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);*/
    /*-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;*/
    /*transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;*/
    float: left;
}

::-webkit-input-placeholder {
    color: white;
}

.alfred-widget i {
    color: #428bca;
}

.alfred-widget li.active i {
    color: white;
}

.alfred-widget li.active {
    background-color: #428bca;
    color: white;
}

.alfred-widget li {
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    list-style-type: none;
}

.alfred-widget .list-group {
    padding-left: 0;
    margin-bottom: 0;
}

.alfred-widget i {
    float: right;
    height: 20px;
}

.alfred-widget #right {
    width: 100%;
}

.alfred-widget #left {
    width: 100%;
}

.alfred-widget .header {
    font-weight: bold;
    height: 42px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
}

.alfred-widget .scroller {
    position: absolute;
    right: 0;
    height: 100%;
    width: 4px;
    background-color: #fff;
    border: 1px solid #42b6ca;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.175);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: 0;
}

.alfred-widget .left-list,
.alfred-widget .right-list,
.alfred-widget .main-list {
    position: relative;
}

.alfred-widget .scroller .slider {
    background-color: #428bca;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
}

.alfred-widget .glyphicon.glyphicon-plus {
    margin-left: 10px;
}

.alfred-widget .enter-block {
    width: 45px;
    height: 16px;
    float: left;
}

.alfred-widget .enter-block i {
    margin-left: 5px;
}

.alfred-widget .history-menu {
    width: 4%;
    padding: 0;
    height: 46px;
    float: right;
}

.alfred-widget .history-menu i {
    color: white;
}

.tollbar-container {
    width: 100%;
    padding: 10px;
}

.children-group, .parent-group {
    display: -webkit-box;
    width: 65%;
}

.children-group li, .parent-group li {
    margin-right: 22px
}

.children-group .md-button {
    background-color: rgb(56, 163, 248);
    text-transform: none;
    padding: 4px 20px;
    font-weight: normal;
    margin-top: 10px;
}

.children-group ul, .parent-group ul {
    padding: 0;
    margin: 10px 0;
}

.shadow-box {
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.md-tile-content span {
    width: 100%;
}

button.history-menu.md-button.md-default-theme:hover {
    background-color: transparent;
}

.parent-group-list:before {
    background: no-repeat url("//material-design.storage.googleapis.com/images/separator.svg") right center;
    background-size: contain;
    content: '';
    float: left;
    height: 25px;
    margin: 0 22px 0 0;
    width: .4em;
}

.head-groups, .bottom-group {
    display: -webkit-inline-box;
    width: 100%;
}

.head-groups .tags {
    width: 35%;
}

.tags ul {
    padding: 0;
    margin: 4px 0;
    float: right;
}
.tags li {
    float: right;
}
.tags button {
    text-transform: none;
    font-weight: normal;
    background-color:rgb(56, 163, 248);
    margin: 10px 0px 0 8px;
}

.tags button i {
    float: none;
    color: white;
}

.add-new-group {
    width: 35%;
    text-align: right;
    padding: 20px 0 0 0;
}

.add-new-group button {
    background-color: rgb(56, 163, 248);
    padding: 4px 10px;
}
.parent-group ul {
    margin: 20px 0 0 0;
}